<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>
<body>
<form>
    <input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}"/>
    <b>Phone number:</b><input path="phoneNumber"/><br>
    <b>Name:</b><input path="name"/><br>
    <b>Address:</b><input path="address"/><br>
    <b>City:</b><input path="city"/><br>
    <b>State:</b><input path="state"/><br>
    <b>Zip Code:</b><input path="zipCode"/><br>
    <input type="submit" name="_eventId_submit" value="Submit"/>
    <input type="submit" name="_eventId_cancel" value="Cancel"/>
</form>
</body>
</html>